<html>
    <head>
        <title>Senha incorreta</title>
        <script>
          confirm('Senha incorreta') //serve para que apareça uma caixa prestando uma confirmação
          window.location.replace("/room/<%= roomId%>") //serve para voltar ou direcionar para um certo local apos completar a ação
        </script>
    </head>
</html>